span{
    display: inline-block;
}
.arv-containter{
    width: 1000px;
    margin: 0 auto;
}
.arv-bg-color{
    background-color:#7AA8AB;
}
.arv-bg-white{
    background-color:#fff;
}
.arv-font-color{
    color:#7AA8AB;
}
.arv-font-size12{
    font-size: 12px;
}
.arv-font-size13{
    font-size: 13px;
}
.arv-font-size14{
    font-size: 14px;
}
.arv-font-size15{
    font-size: 15px;
}
.arv-font-size16{
    font-size: 16px;
}
.arv-font-size17{
    font-size: 17px;
}
.arv-font-size18{
    font-size: 18px;
}
.arv-font-size19{
    font-size: 19px;
}
.arv-font-size20{
     font-size: 20px;
}
.arv-font-size21{
    font-size: 21px;
}
.arv-font-size22{
    font-size: 22px;
}
.arv-color-black3{
    color: #333;
}
.arv-floatR{
    float: right;
}
.arv-floatL{
    float:left;
}
.arv-title{
    line-height: 32px;
    font-size: 24px;
    text-align: center;
    position: relative;
    padding-bottom: 15px;
    padding-top:80px;
}
.arv-title:after{
    width:26px;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7AA8AB;
    left: 50%;
    bottom: 0;
    margin-left: -13px;
}
/*头部*/
#nav {
    position: fixed;
    top:0;
    width: 100%;
    left:0;
    height: 50px;
    background-color: #fff;
    z-index: 10;
    box-shadow: 1px 0 6px 2px #eee;
    -webkit-box-shadow: 1px 0 6px 2px #eee;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}
#nav .logo{
    line-height: 50px;
}
.nav-replace{
    height: 50px;
}
#nav .logo img{
    height: 30px;
}
#nav .nav-contain{
    float: right;
    background-color: #fff;
    height: 50px;
}
.layui-nav .layui-nav-item a{
    color: #333;
    padding: 0 30px;
}
.layui-nav .layui-this a{
    color: #33A695;
}
.layui-nav .layui-nav-item a:hover{
    color: #33A695;
}
.layui-nav .layui-nav-item {
    line-height: 50px;
}
.layui-nav .layui-this:after{
    background-color: #fff;
    top: 1px;
}
.layui-nav .layui-nav-bar{
    background-color: #fff;
}
.layui-nav-child{
    top:49px;
    left: -22px;
}
#language-iframe{
    position: relative;
}
#language a{
    position: relative;
}
.layui-nav .layui-nav-more{
    border-top-color:#333;
}
#language .layui-nav-more{
    right: -22px;
    top: 22px;
}
#language{
    line-height: 50px;
}
#language  .layui-nav-mored{
    border-style:dashed dashed solid;
    top: 16px;
    border-color:transparent transparent #333;
}
#language dl span{
    color: #333;
    padding-left: 12px;
    font-size: 16px;

}
#language dl{
    width: 142px;
    position: absolute;
    padding: 4px 0 16px;
    box-shadow: 0 2px 3px 0 rgba(60,60,60,0.07);
    -webkit-box-shadow: 0 2px 3px 0 rgba(60,60,60,0.07);
    border: none;
    background-color: #fff;
    top: 35px;
    left: 6px;
    display: none;
}
#language dd{
    margin-top: 10px;
    cursor: pointer;
    padding-left: 14px;
    line-height: 36px;
}
#language dd img{
    width: 24px;
    height: 14px;
}
#language a{
    display: inline-block;
    padding-left: 12px;
}
#language>img{
    position: relative;
    top:-1px;
    width: 24px;
    height: 14px;
}
#language dd:hover span{
    color: #33A695;
}
/*banner*/
#banner{
    position: relative;
}
#banner img{
    width: 100%;
}
#banner a{
    font-size: 15px;
    color: #333;
    position: absolute;
    bottom: 20px;
    right: 24px;
    text-decoration: underline;
}
#banner a:hover{
    color: #46778e;
}
#banner .ban_iframe{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    padding: 15px;
    width: 623px;
    height: 296px;
    background-color:rgba(255,255,255,0.6);
}
#banner .con_iframe{
    width: 623px;
    height: 296px;
    position: relative;
    background-color:rgba(255,255,255,0.85);
}
#banner .con{
    position: absolute;
    left: 50%;
    top:50%;
    width: 623px;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    text-align: center;
}
#banner .con p{
    color: #333;
    font-size: 40px;
    padding-bottom: 20px;
    margin-bottom:24px;
    position: relative;
}
#banner .con p:after{
    width: 32px;
    height: 4px;
    background-color: #333;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left:-16px;
    content: '';
}
#banner .con>span{
    font-size: 20px;
    color: #333;
    display: block;
    margin-bottom: 30px;
}
#banner .con>div{
    border: 1px solid #46778e;
    padding: 0 24px;
    line-height: 32px;
    display: inline-block;
    height: 32px;
}
#banner .con>div em{
    width: 7px;
    height: 7px;
    border-radius:8px;
    -webkit-border-radius:8px;
    background-color: #46778e;
    display: inline-block;
    margin: 0 14px;
    vertical-align: middle;
}
#banner .con>div span{
    font-size: 20px;
    color: #46778e;
    vertical-align: middle;
}
    /*項目介紹*/
#project .contain{
    margin-top: 20px;
}
#project .contain>p{
    font-size: 14px;
    color: #666666;
    line-height: 20px;
    text-align: center;
    width: 690px;
    margin: 0 auto 60px;
}
#project .contain ul{
    text-align: center;
}
#project .contain li{
    display: inline-block;
    width: 226px;
    vertical-align: top;
    margin: 0 30px;
}
#project .contain li img{
    width: 64px;
    height: 46px;
}
#project .contain li p{
    font-size: 18px;
    color: #333333;
    margin: 18px 0;
    line-height: 25px;
}
#project .contain li span{
    text-align: left;
    font-size: 14px;
    color: #666666;
    line-height: 20px;
}
/*已登记艺术品展示*/
#art-show img:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transition-duration:0.8s;
}
#art-show .contain{
    padding-top: 62px;
    height: 298px;
}

#art-show .contain p{
    font-size: 14px;
    color: #333333;
    line-height: 20px;
    height: 20px;
    margin-bottom: 6px;
}
#art-show .contain p a{
    float: right;
    padding-right: 10px;
    background:url("/images/right_arrow.png") right center no-repeat;
    margin-right: 6px;
    color: #333333;
}
#art-show .contain p a:hover{
    color: #333333;
}
#art-show .big_img{
    float: left;
}
#art-show .big_img a{
    width: 270px;
    height: 270px;
    display: inline-block;
    overflow: hidden;
}
#art-show img,#art-show a{
    float: left;
}
#art-show .big_img a:first-child{
    margin-right: 20px;
}
#art-show .small_img{
    padding-left: 580px;
    width: 420px;
}
#art-show .small_img a{
    display: inline-block;
    width: 125px;
    height: 125px;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
#art-show .small_img a img,#art-show .big_img a img{
    width: 100%;
    height: 100%;
}
#art-show .small_img a:nth-child(3n){
    margin-right: 0;
}
    /*路线图*/
#route .contain{
    width: 16px;
    margin: 70px auto 102px;
    height:404px;
    background: url("/images/axis.png") 0 0 no-repeat;
    position: relative;
}
#route .time{
    position: relative;
    width: 400px;
}
#route .time span{
    font-size: 20px;
    color: #33A695;
    line-height: 28px;
}
#route .time p{
    font-size: 16px;
    color: #333333;
    line-height: 22px;
}
#route .time1{
    left: 60px;
    top:20px;
}
#route .time2{
    left: -543px;
    text-align: right;
    top: 44px;
    width: 494px;
}
#route .time3{
    left: 60px;
    top:70px;
    width: 525px;
}
#route .time4{
    left: -448px;
    text-align: right;
    top:93px;
}
/*白皮书*/
#book{
    width: 100%;
    height: 600px;
    background-color: #f8f8f8;
    position: relative;
    overflow: hidden;
}
#book .book{
    position: absolute;
    width: 270px;
    height: 360px;
    box-shadow: 0 1px 4px 3px rgba(125,185,189,0.18);
    -webkit-box-shadow: 0 1px 4px 3px rgba(125,185,189,0.18);
    background: url("/images/book.jpg") 0 0 no-repeat;
    background-size: 100% 100%;
    top:76px;
    left:50%;
    transform:translate(-50%,0%);
    -webkit-transform:translate(-50%,0);
}
#book .book-title{
    position: absolute;
    bottom: 68px;
    right: 14px;
    text-align:center;
}
#book .book-title>p,#book .book-title>span{
    font-size: 16px;
    color: #333;
    line-height: 24px;
    font-weight: bold;
    text-align: right;
}
#book .book-title>p{

}
#book .time{
    position: absolute;
    left: 12px;
    top: 12px;
    width: 38px;
    height: 38px;
    border: 1px solid #fff;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #fff;
}
#book .time span{
    display: inline-block;
    width: 38px;
    word-wrap: break-word;
    padding-top: 5px;
    padding-left: 3px;
}
#book .contain{
    height:150px;
    background-color: #7AA8AB;
    margin-top: 382px;
}
#book .contain-left{
    height:150px;
    text-align: center;
    background:url("/images/book_icon1.png") 14px 115px no-repeat;
}
#book .contain-right{
    height:150px;
    background: url(/images/book_icon2.png) 950px 10px no-repeat;
}
#book .contain a{
    margin-top: 84px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    text-decoration: underline;
}
/*核心团队*/
#team{
    margin-bottom: 40px;
}
#team .arv-title{
    margin-bottom: 60px;
}
#team p{
    margin-top: 10px;
    padding-left: 10px;
    border-left:2px solid #33A695;
    font-size: 20px;
    color: #333333;
    line-height: 28px;
    margin-bottom: 26px;
}
#team li{
    float: left;
    margin-right: 16px;
    box-shadow: 0 0 3px 1px rgba(122,168,171,0.26);
    -webkit-box-shadow: 0 0 3px 1px rgba(122,168,171,0.26);
    padding: 0 14px;
    width: 210px;
    margin-bottom:32px;
    height: 400px;
    color: #333333;
    border-radius: 4px;
}
#team li:hover {
    box-shadow:0 0 18px 8px rgba(122,168,171,0.1);
    -webkit-box-shadow:0 0 18px 8px rgba(122,168,171,0.1);
}
#team li:nth-child(4n){
    margin-right:0;
}
#team .head{
    text-align: center;
    width: 120px;
    height: 120px;
    margin: 16px auto;
    overflow: hidden;
    border-radius: 120px;
    border: 3px solid #fff;
}
#team .head img{
    width: 120px;
    height: 120px;
    border-radius: 120px;
    transition:all 0.5s 0s linear;
}
#team .name{
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 4px;
    text-align: center;
}
#team .adviser .name{
    line-height: 25px;
    font-size: 18px;
    color: #333333;
    margin-bottom: 16px;
}
#team .ability{
    margin-bottom: 26px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}
#team .contain{
    font-size: 14px;
    line-height: 20px;
    /*height: 150px;*/
    /*text-align:justify;*/
    /*text-justify:inter-ideograph*/
    /*word-break:break-all;*/
}
/*#team .adviser .contain{*/
    /*height: 220px;*/
/*}*/
/*合作伙伴*/
#partner{
    height: 270px;
    background-color: #F8F8F8;
    overflow: hidden;
}
#partner .arv-title{
    padding-top: 32px;
}
#partner .contain{
    padding-top: 60px;
}
#partner .contain a{
    margin-right: 20px;
    display: inline-block;
    float: left;
}
#partner .contain a:last-child{
    margin-right: 0;
}
/*新闻*/
#news ul{
    margin-top: 70px;
}
#news li{
    float: left;
    width:452px;
    height: 122px;
    box-shadow: 0 0 4px 3px rgba(125,185,189,0.11);
    -webkit-box-shadow: 0 0 4px 3px rgba(125,185,189,0.11);
    background: url("/images/news_icon.png") 425px 122px no-repeat;
    margin-right: 40px;
    padding: 14px;
    margin-bottom: 40px;
}
#news li:nth-child(2n){
    margin-right:0;
}
#news .img{
    width: 100px;
    height: 120px;
    float: left;
}
#news .img img{
    width: 100%;
    height: 100%;
}
#news .contain{
    padding-left: 120px;
}
#news .contain p{
    line-height: 22px;
    font-size: 16px;
    color: #333333;
    margin-bottom: 16px;
}
#news .contain span{
    /*display: block;*/
    line-height: 20px;
    width: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    margin-bottom: 24px;
}
/*底部*/
#bottom{
    height: 135px;
    background-color: #333;
}
#bottom .con{
    height: 85px;
    width:1000px;
    margin: 0 auto;
}
#bottom p{
    text-align: center;
    font-size: 12px;
    color: #999999;
    border-top:1px solid #666 ;
    height: 49px;
}
#bottom p span{
    display: inline-block;
    margin-top: 20px;
}
#bottom .con>img{
    width: 116px;
    padding-top: 25px;
}
#bottom .com{
    float: right;
    margin-top: 25px;
    padding-left:30px;
}
#bottom .com img{
    margin-left: 20px;
    float: left;
    width: 35px;
    height: 35px;
}
#bottom .menu{
    float: right;
    height: 85px;
    padding-right: 20px;
    border-right: 1px solid #666;
}
#bottom .menu a{
    margin: 34px 20px 0;
    font-size: 14px;
    color: #FFFFFF;
    display: inline-block;
}
#bottom .menu a:hover{
    color:#33A695;
}